
 div a strong em span{
    font-size: 30px;
     color: deeppink;
     letter-spacing: 2px;
}
 .youtube{
     margin-left: 10px;
     margin-right: 10px;
     width: 40px;
 }
 .gradient-custom-2 {
     /* fallback for old browsers */
     background: #fccb90;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 }

 @media (min-width: 768px) {
     .gradient-form {
         height: 100vh !important;
     }
 }
 @media (min-width: 769px) {
     .gradient-custom-2 {
         border-top-right-radius: .3rem;
         border-bottom-right-radius: .3rem;
     }
 }
 .login{

     padding-right: 10px;
 }
 body {
     margin: 0;
     font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     font-size: .8125rem;
     font-weight: 400;
     line-height: 1.5385;
     color: #333;
     text-align: left;
     background-color: #2196F3;
 }

 .mt-50{

     margin-top: 50px;
 }

 .mb-50{

     margin-bottom: 50px;
 }



 .card {
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
     border-radius: .1875rem;
 }

 .card-img-actions {
     position: relative;
 }
 .card-body {
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     padding: 1.25rem;
     text-align: center;
 }

 .card-img{

     width: 350px;
 }

 .star{
     color: red;
 }

 .bg-cart {
     background-color:orange;
     color:#fff;
 }

 .bg-cart:hover {

     color:#fff;
 }

 .bg-buy {
     background-color:green;
     color:#fff;
     padding-right: 29px;
 }
 .bg-buy:hover {

     color:#fff;
 }

 a{

     text-decoration: none !important;
 }